.configure-order-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center all the content */
    padding: 20px;
    background-color: #1c1c1c; /* Adjust background color as needed */
}

.order-summary, .order-progress, .server-details {
    width: 100%;
    max-width: 800px; /* Set a max-width to center content */
    background-color: #292929;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 20px; /* Add spacing between sections */
    box-sizing: border-box;
}

.order-summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.order-summary button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #00C3A4;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.server-details {
    text-align: left;
}

.order-progress {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.server-details .section-title, .order-progress .section-title {
    font-size: 20px;
    margin-bottom: 10px;
    color: #ffffff;
}

.order-progress .progress-item {
    margin-bottom: 5px;
}

.billing-cycle {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.billing-cycle div, .minecraft-version div {
    margin-right: 10px;
}

.billing-cycle div:last-child, .minecraft-version div:last-child {
    margin-right: 0;
}

.minecraft-version, .billing-cycle {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}

.minecraft-version div, .billing-cycle div {
    flex-grow: 1;
    text-align: center;
}

.minecraft-version div button, .billing-cycle div button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background-color: #333;
    color: #00C3A4;
    border: 1px solid #00C3A4;
    border-radius: 5px;
    cursor: pointer;
}

.minecraft-version div button:hover, .billing-cycle div button:hover {
    background-color: #00C3A4;
    color: #fff;
}

.save-configuration-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #00C3A4;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
